.btnstyle1 {
    background:#141021;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-width: 160px;

  }
  
  .btnstyle1dropdown {
    position: relative;
    display: inline-block;
    
       
  }
  
  .btnstyle1content {
    display: none;
    position: absolute;
    background:#141021;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    
  }
  
  .btnstyle1content a {
    font-size: 14px;
    color:white;
    padding:8px;
    text-decoration: none;
    display: block;
    cursor: context-menu;
    
  }
 
  .btnstyle1dropdown:hover .btnstyle1content {
    display: block;
  }
  
  





  .btnstyle2 {
    background-color:transparent ;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    min-width: 90px;

  }

  .btnstyle2dropdown {
    position: relative;
    display: inline-block;
    
       
  }
  
  .btnstyle2content {
    display: none;
    position: absolute;
    background:#F8F8F8;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    
  }
  
  .btnstyle2content a {
    font-size: 14px;
    color:#3633C8;
    padding:8px;
    text-decoration: none;
    display: block;
    cursor: context-menu;
    
  }
 
  .btnstyle2dropdown:hover .btnstyle2content {
    display: block;
  }