.navbar{
    height: 60px;
    display:flex;
    align-items: center;
    background-color: #3633C8;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.navbar-container{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 8px;

}

.navbar-logo{
    text-decoration: none;
    color:white;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;

}

.navbar-search{
    display: flex;
    flex: 1;
    align-items:right;
    border-radius: 8px;

}

.navbar-searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    outline: none;

}
.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    font-weight: 600;
    margin-left: 100px;
}
.navbar-account{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.navbar-cart{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    color: white;

}






