.navbar{
    height: 60px;
    display:flex;
    align-items: center;
    background-color: #3633C8;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.navbar-container{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 8px;

}

.navbar-logo{
    text-decoration: none;
    color:white;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 30px;

}

.navbar-search{
    display: flex;
    flex: 1;
    align-items:center;
    border-radius: 8px;
    background-color:white;
    padding-right: 10px;
}

.navbar-searchInput{
    height: 100%;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    outline: none;
    display: block;
    font-size: 15px;
    
}

.navbar-searchDropdown{
    height: 37px;
    width: 25%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:0;
    background:#141021;
    color: white;
    font-size: 15px;
    outline: none;
    border: none;
}
.navbar-searchButton{
    
    border-radius: 8px;
    border: none;
    padding: 0;
    background: none;
}
.navbar-search-icon{
    height: 20px;
    width: 20px;
    padding: 5px;
    
}
.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    font-weight: 600;
    color: white;
}
.navbar-account{
    margin-left: 10px;
    margin-right: 10px;
    
}

.navbar-cart{
    height:18px;
    border-left: 1px solid #FFFF;
    padding-left: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;

}
.navbar-cart-icon{
    height:20px;
    width: 20px;
    padding: 5px;

}

.navbar-carCount{
    margin-right: 10px;
    margin-left: 5px;

}





